<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/10821737/practice/ecom" parallel="classes" thread-count="2">
        <classes>

           <class name="tests.LoginTest"/>
           <class name="tests.ErrorValidation"/>
            <class name="tests.ProductCatalogTest"/>

        </classes>
    </test>
</suite>